<div id="about">
  <p>Given the choice while traveling, would you prefer to stay in a hotel or housesit for a friend? Of course you would house sit, but you also want to be considerate and do this without placing a burden on your host. So then, it would probably be best to stay there when the apartment is vacant. The problem; there is no way to know when you will be in a city when your friend is not there.</p>

  <p>SpareKeyPlease takes chance out of this equation by leveraging the your social graph allowing you to see which of your friends will be away and when. You will then be able to communicate with that friend to ask about having an open place to stay during your trip.</p>

  <p>We want to help you find a spare key or give a spare key to make travel a little more personal…Housesitting. Not Hotels.</p>
</div>