body {
    // background: url('/images/wireframe1.png') 0 0 no-repeat;
}

    
#container {
    margin: 0px auto;
    min-width: 950px;
    overflow: hidden;
    width: 80%;
    background: white;
    position: relative;
}

#header {
    background-color: inherit;
}

#login {
    width: 50%;
    margin: 0 auto;
    background: blue;
    }
    
#login_links{
    float: right;
    margin-right: 10px;
}

#welcomes{
    clear: both;
}

#footer {
    background-color: yellow;
    min-height: 80px;
}

#footer ul {
    text-align: right;
}
#footer ul li {
    display: inline;
    margin-right: 10px;
}

