body {
    background: url('/images/wireframe1.png') 0 0 no-repeat;

}

#login {
    width: 50%;
    margin: 0 auto;
    background: blue;
    }
    
#container {
    margin: 0px auto;
    min-width: 950px;
    overflow: hidden;
    width: 80%;
    background: red;
    position: relative;
}

#header {
    background-color: orange;
}

#footer {
    background-color: yellow;
}

#footer ul {
    text-align: right;
}
#footer ul li {
    display: inline;
    margin-right: 10px;
}

