body {
    // background: url('/images/wireframe1.png') 0 0 no-repeat;
}

body {
    color: #999
}
    
body a {
    color: #FF9900
}
    
#container {
    margin: 0px auto;
    min-width: 950px;
    overflow: hidden;
    width: 80%;
    background: white;
    position: relative;
}

#header {
    background-color: inherit;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

#login {
    border:1px solid #CCCCCC;
    font-size:2em;
    margin:80px auto;
    padding:25px;
    position:relative;
    width:30%;
    }

#login input {
    float: right;
}
    
#login_links{
    float: right;
    margin-right: 10px;
}

#main {
    
    min-height: 150px;
    
}

#welcome{
    clear: both;
}

#newsfeed{
    
}

#newsfeed ul li{
    min-height: 40px;
    margin-bottom: 5px;
    list-style: none;

    line-height: 1em;
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
}

#newsfeed ul li span {
    margin-right: 10px;
    float: left;
}

div#newsfeed div#filter label {
    font-size: 1.2em;
    font-family: Georgia, "Times New Roman", serif;
    color: #097054;
}

.artifact_name{
    font-weight: bold;
    color: #6599FF;
    
}
.artifact_content{
    
}
.artifact_time{
    color: orange;
}

#footer {
    background-color: #FFDE00;
    min-height: 80px;
    border-top: 1px solid #ccc;
    padding-top: 10px;
}

#footer a {
    color: #999;
}

#footer a:hover {
    color: #FF9900;
}

#footer span {
    margin-left: 10px;
}

#footer ul {
    float: right;
}
#footer ul li {
    display: inline;
    margin-right: 10px;
}

/*//////////////// Utility Styles ////////////////*/

.round {
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;}